<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="home-style.css">
    <title>HomePage</title>
  </head>
  <body>

    <!------ Include the above in your HEAD tag ---------->
    <div align="center">
        <small>
            <%= (session.message)? session.message : "" %> 
        </small>
    </div>
    <body class="login-page sidebar-collapse">
      <!-- Navbar -->
      <!-- End Navbar -->
      <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url('https://images.unsplash.com/photo-1438783122414-75b2c084bd44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80 2378w')"></div>
        <div class="content">
          <div class="container">
            <div class="col-md-4 ml-auto mr-auto">
              <div class="card card-login card-plain">
                <form class="form" method="/" action="POST">
                  <div class="card-header text-center">
                    <div class="logo-container">
                      <img src="https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/now-logo.png" alt="">
                    </div>
                  </div> 
                  <div class="card-body">
                    <div class="input-group no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                        </span>
                      </div>
                      <input type="email" class="form-control" placeholder="email" name="email">
                    </div>
                    <div class="input-group no-border input-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="now-ui-icons text_caps-small"></i>
                        </span>
                      </div>
                      <input type="password" placeholder="Password" class="form-control" name="password"/>
                    </div>
                  </div>
                  <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                    <div class="pull-left">
                      <h6>
                        <a href="/users/add" class="link">Create Account</a>
                      </h6>
                    </div>
                    <div class="pull-right">
                      <h6>
                        <a href="#pablo" class="link">Need Help?</a>
                      </h6>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container">
            <nav>
              <ul>
                <li>
                  <a href="http://presentation.creative-tim.com">
                    About Us
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright" id="copyright">
                
            <p>Made By Jomblo copyright &copy; 2020</p>
            </div>
          </div>
        </footer>
      </div>
      <!--   Core JS Files   -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
    </body>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
