<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form style="margin-left: 25%; margin-right: 25%" action="/signup" method="POST">

        <h3>Profile</h3>

        <div class="form-group">
          <label for="email">Email:</label><br>
          <input class="form-control" type="text" id="email" name="email" placeholder="ZidniGanteng@gmail.com"> 
        </div><br>

        <div class="form-group">
          <label for="password">Password:</label><br>
          <input class="form-control" type="password" id="password" name="password">
        </div>

        <h3>Personal profile</h3>

        <div class="form-group">
            <label for="name">Full Name:</label><br>
            <input class="form-control" type="text" id="name" name="name" placeholder="e.g. Zidni Zidane"> 
          </div><br>

        <div class="form-group">
            <label for="phone_number">Phone Number:</label><br>
            <input  class="form-control" type="tel" id="phone_number" name="phone_number" placeholder="08XX-XXX-XXX"><br>
        </div><br>

        <div class="form-group"></div>
            <label for="gender">Gender:</label><br>
            <input class="form-control" type="radio" name="gender" value="Male"> Male<br>
            <input class="form-control" type="radio" name="gender" value="Female"> Female<br>
        </div><br>

        <div class="form-group"></div>
            <label for="age">Age:</label><br>
            <input class="form-control" type="number" id="age" name="age" min="18" max="75" placeholder="20">
        </div><br><br>

        <div class="form-group">
            <label for="look_for">Looking for:</label><br>
            <input class="form-control" type="text" id="look_for" name="look_for">
        </div><br>

        <div class="form-group">
            <label for="location">Location:</label><br>
            <input class="form-control" type="text" id="location" name="location">
        </div><br>

        <div class="form-group"></div>
            <label for="bio">Biodata:</label><br>
            <textarea  class="form-control" id="bio" name="bio" cols="50" rows ="4">Your profile bio here...</textarea>
        </div><br><br>
        
        <!-- name: DataTypes.STRING,
        email: DataTypes.STRING,
        phone_number: DataTypes.STRING,
        gender: DataTypes.STRING,
        age: DataTypes.INTEGER,
        look_for: DataTypes.STRING,
        location: DataTypes.STRING,
        bio: DataTypes.STRING, -->

        <input type="submit" value="Register" class="btn btn-primary">
        <a href="/"><button type="button" class="btn btn-danger">Cancel</button></a>
    </form>
</body>
</html>